@keyframes heart-scale {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  to {
    transform: scale(1);
  }
}

@keyframes heart-sparks {
  from {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
