:root {
  /* text */
  --main-font: "Inter";
  --accent-font: "PressStart2P";
  --font-weight-heading: 715;
  --font-weight-body: 410;
  --text-size: 18px;
  --text-line: 21px;

  /* colors */
  --color-main: #fff;
  --color-border: #000;
  --color-accent: #000;
  --color-heart-contour: #000;
  --color-heart-fill: red;
  --bg-gradient:
    repeating-linear-gradient(
      to right,
      #d3d3d3 0px 2px,
      rgba(255, 0, 0, 0) 2px 4px
    ),
    repeating-linear-gradient(#d3d3d3 0px 2px, rgba(255, 0, 0, 0) 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);

  /* blocks */
  --content-inline-size: clamp(375px, 100vw, 700px);
  --border: 2px solid var(--color-border);
  --text-stroke: 1px var(--color-main);
  --card-space: 25px;

  /* animation */
  --t-fast: 0.1s;
  --t-base: 0.3s;
  --t-slow: 0.5s;
  --heart-delay-fast: 0.03s;
  --heart-delay-base: 0.05s;
  --heart-delay-slow: 0.06s;
}
